<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>My Profile</h2>
        </div>
      <div class="panel-body">
          <div>
              <img src="public/image/profile/{{.Profile.ImageProfile}}" class="img-rounded" alt="My Profile" width="200" height="200">
          </div>
      </div>
      <label>Email: {{.Profile.Email}}</label><br>
      <label>First Name: {{.Profile.FirstName}}</label><br>
      <label>Last Name: {{.Profile.LastName}}</label><br>
    </div>
</div>